
  <div class="mb-4">
    <h1><%= @place["name"] %></h1>
  </div>

  
  <% if @current_user %>

    <div class="mb-4">
      <!-- original line of code: <a href="/posts/new?place_id=<%= @place["id"] %>">New Post</a> -->
      <a class="btn btn-primary" href="/posts/new?place_id=<%= @place["id"] %>" role="button">New Post</a>
    </div>

    <div class="mb-4">
      <h2>My Posts</h2>
    </div>

    <div class="container">
      <div class="row">
        <% for post in @posts %>
          <div class="col-md-4">
            <h3><%= post["title"] %></h3>
            <h4><%= post["posted_on"] %></h4>
            <p><%= post["description"] %></p>
            <p><% if post.uploaded_image.attached? %>
              <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
            <% else %>
              <img src="<%= post["image"] %>" class="img-fluid">
            <% end %></p>
          </div>
        <% end %>
      </div>
    </div>
    

    
  <% end %>

  <div>
    <a href="/places">Back to All Places</a>
  </div>
